link(rel="stylesheet", href="Nebula.css")
link(rel="stylesheet", href="../dist/yellow.css")

.wrap-full
  #my_slides.slides
    ul.slide-pic
      li.cur
        .text
          h3
            span Creat  -
            | Nodejs Framework
          h4 &#x57FA;&#x4E8E;NODEJS&#x7684;&#x5F00;&#x6E90;&#x7F51;&#x7EDC;&#x670D;&#x52A1;&#x6846;&#x67B6;
          br
          h5 &gt; &#x66F4;&#x63A5;&#x8FD1;&#x539F;&#x751F;NODEJS
          h5 &gt; &#x517C;&#x5BB9;ES5/ES6
          h5 &gt; &#x65E0;&#x5916;&#x6302;&#x6A21;&#x5757;
          .buttonframe
            a.button.button-big(href="#") API DOCUMENTS
            a.button.button-big(href="#") DOWNLOAD
        a
          img(src="creat/1.png", title="")
      li
        .text
          h3
            span Nebula  -
            | Css3 Framework
          h4 &#x5BA1;&#x7F8E;&#x5F3A;&#x8FEB;&#x8005;&#x524D;&#x7AEF;&#x5F00;&#x53D1;&#x6846;&#x67B6;
          br
          h5 &gt; &#x7B80;&#x6D01;&#x7684;UI
          h5 &gt; &#x4EA4;&#x4E92;&#x5F0F;&#x54CD;&#x5E94;&#x4E8B;&#x4EF6;
          h5 &gt; &#x6D41;&#x5A92;&#x4F53;&#x5E03;&#x5C40;
          .buttonframe
            a.button.button-big(href="#") API DOCUMENTS
            a.button.button-big(href="#") DOWNLOAD
        a
          img(src="creat/3.png", title="")
      li
        .text
          h3
            span Metro  -
            | Websocket Framework
          h4 I/O&#x5F0F;&#x7F51;&#x7EDC;&#x54CD;&#x5E94;&#x6846;&#x67B6;
          br
          h5 &gt; &#x57FA;&#x4E8E;&#x539F;&#x751F;NODEJS
          h5 &gt; &#x57FA;&#x4E8E;IP&#x548C;TOKEN&#x4F18;&#x5316;
          h5 &gt; &#x66F4;&#x9AD8;&#x7684;&#x65E0;&#x963B;&#x585E;&#x5E76;&#x53D1;
          .buttonframe
            a.button.button-big(href="#") API DOCUMENTS
            a.button.button-big(href="#") DOWNLOAD
        a
          img(src="creat/2.png", title="")
      li
        .text
          h3
            span Ragnarok  -
            | JS Framework
          h4 &#x524D;&#x7AEF;JS&#x6846;&#x67B6;
          br
          h5 &gt; &#x5F3A;&#x6587;&#x6863;&#x7C7B;&#x64CD;&#x4F5C;
          h5 &gt; &#x6A21;&#x5757;&#x5316;
          h5 &gt; &#x6570;&#x636E;&#x7ED1;&#x5B9A;
          .buttonframe
            a.button.button-big(href="#") API DOCUMENTS
            a.button.button-big(href="#") DOWNLOAD
        a
          img(src="creat/4.png", title="")

| <a target="_blank" href="https://github.com/fritx/yellow"><img style="position: absolute; top: 0; right: 0; border: 0;" src="fork.png" alt="Fork me on GitHub"></a>

script(src="../dist/jquery.min.js")
script(src="../dist/yellow.js")
script.
  $(document).ready(function(){
    //pic
    $('#my_slides').yellow()
  })
